{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div id="menubar">
<ul>
<li><a href="{{url_for('show_special', name = 'index')}}" title="index page">{{config['WIKI_NAME']}}</a></li>
<li class="last"><a href="{{url_for('list_pages')}}" title="list all page">list all pages</a></li>
</ul>
</div>
<div id="titlebar">
<h1>{{title}}</h1>
<ul id="page_menu">
<li{% if not delete_link %} class="last"{% endif %}><a href="{{edit_link}}" title="edit {{title}}">edit</a></li>
{% if delete_link %}<li class="last"><a href="{{delete_link}}" title="edit {{title}}">delete</a></li>{%endif %}
</ul>
</div>
<div id="page_content">
{{body|safe}}
</div>

{% endblock %}
